body {
	background-color: #333333;
	color: white;
}

#date-background {
	height: 186px;
}

#date-background p {
	font-size: 7rem;
	color: #333333;
	font-weight: bold;
	line-height: 17rem;
}

#countdown {
	/*color: #CCFFF6;*/
	font-size: 2rem;
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	display: inline;
}

#hw-title {
	font-size: 8rem;
	line-height: 8rem;
}

@media only screen and (max-width: 740px) {
	#hw-title {
		font-size: 5rem;
		line-height: 5rem;
	}
}
