
#hackweek-logo {
	height: 70px;
	margin: 10px;

}

.hackweek-header {
	display: flex;
	margin-bottom: 45px;
	min-height: 180px;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

.nav-item {
	margin: 0 20px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 2px solid #333333;
	font-size: 1.6em;
}

@media only screen and (max-width: 740px) {
	.nav-item {
		margin: 0 10px;
	}
}

.nav-item:hover {
	border-bottom: 2px solid #00FFD0;
}
.nav-link:hover {
	text-decoration: none !important;
}

.nav-item a {
	color: #D6D6D6 !important;
}

.nav-item:active {
	background-color: #2e3238 !important;
}

.lit-background:before, .lit-background:after {
	content: '';
	position: absolute;
	left: -4px;
	top: calc(-4px - 80%);
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
	#0000ff, #00ff00, #ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(80% + 4px);
	z-index: -1;
	animation: steam 180s linear infinite;
}

.lit-background-container {
	height: 0px;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.lit-background:after {
	filter: blur(30px);
}
