.idea-big {
	width: 100%;
	background: #444444;
	color: white !important;
	padding: 40px;
	border-radius: 25px;
	border: none;
}

.idea-big p {
	color: white !important;
}

.idea-name-big {
	display: inline-block;
	width: 75%;
}

.idea-name-big h2 {
	margin: 0;
	line-height: 4rem;
}

.user-name-big {
	color: #cccccc;
	font-style: italic;
}

.category {
	display: inline-block;
	font-weight: lighter;
	background: #555555 !important;
	color: #eeeeee;
	border-radius: 50px;
	padding: 5px 15px;
	margin: 20px auto 15px auto;
}

.votes {
	display: inline-block;
	font-weight: bold;
	background: #00FFD0 !important;
	color: #333333;
	border-radius: 50px;
	padding: 10px 20px;
	margin: 15px auto;
}

.video-button {
	display: inline-block;
	font-weight: bold;
	background: #00FFD0 !important;
	color: #333333 !important;
	border-radius: 50px;
	padding: 10px 20px;
	margin: 15px auto;
}

.video-button:hover {
	background: #ccfff6 !important;
	text-decoration: none !important;
}

.pitch-button {
}

.final-button {
	margin-left: 20px;
}
